@import url('https://fonts.googleapis.com/css2? family= PT+Sans+Narrow & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--font-normal) ;
}

:root{
    --cor1:#1b1b1b;
    --cor2:#1EA5E9;
    --cor3:#E71D36;
    --cor4:#F7B801;
    --cor5:#F8F0FB; 
    --cor6:#946CE9;
    --cor7:#8c59fa ;
    --cor8:#e741e5 ;

    --font-nav: 'Pacifico', cursive;
    --font-normal: 'Montserrat', sans-serif;
  
    --font-size-titte: clamp( 3rem, 4vw + 0.1rem, 5rem);
    --font-size-subtittle: clamp( 2rem, 3vw + 0.1rem, 3rem);
    --font-size-normal: clamp( 1.2rem, 2vw + 0.1rem, 2rem);
    --font-size-p:25px;
    --button-weight: 600;
}

/* Tema padrão*/
html{
    --background-image-black: url(../img/logo/Logo-+-escrita-Black.png);
    --header-color: #1b1b1b;
     --main-color:#1B1B1B;

    --normal-color:var(--cor1);
    --inverted-color:var(--cor5);

    --text-color:var(--cor5);

    
    --button-text:var(--cor1);
  
    scroll-behavior: smooth;
}

/* Tema Noturno*/
html[data-theme="dark"] {
    --background-image-black: url(../img/logo/Logo-All-White.png); 
    --header-color: #1b1b1b;
    --main-color:var(--cor5);

    --normal-color: var(--cor5);
    --inverted-color: var(--header-color);
   
    --text-color:var(--cor1);
    --button-text:var(--cor5);

    scroll-behavior: smooth;
  }

  /* Personalização da barra de scroll */ 

html::-webkit-scrollbar{
   width: 1.5vh;

}

::-webkit-scrollbar-track-piece{
    display: none;
}

::-webkit-scrollbar-track{
    background-color: var(--header-color);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, #946CE9, #CB6EC9);
   
    border-radius: 20px;
}


/* Body*/

body{
    background-color: var(--main-color);
    width: 100vw;
    overflow-x: hidden;
    

    
}
/* Header*/

header{
    width: 100vw;
    height: 13.4vh;
    max-height: 20vh;
    background-color: var(--header-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-shadow: 0.1vh 0.1vh 1vh 0.5vh var(--cor6);
}


header .img{
    width: 40vh;
    height: 15vh;
    max-width: 100vh;
    background-image: var(--background-image-black);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}


header nav{
    display: flex;
    justify-content: space-around;
    gap: 5vh;
   

}

header .menu{
    display: flex;
    justify-content: space-around;
    gap: 2vh;
}

header .icones{
    display: flex;
    align-items: center;
    gap: 2vh;
}

header .icons{
    display: flex;
    align-items: center;
    gap: 1vh;
}

header a{
    color: var(--cor5);   
    font-size: 3.2vh; 
    font-family: var(--font-nav);
    font-weight: normal;
}

header a:hover{
    color: var(--cor6);
}

/* Personalização do checkbox do tema */
.theme{
    margin-left: 1.5vh;
}
.theme .checkbox{
    opacity: 0;
    position: absolute;
    
}

.theme .label{
    background-color: var(--cor5);
    border-radius: 5vh;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7vh;
    
    padding: 1.2vh;
    position: relative;
    height: 1vh;
    width: 4vh;
    transform: scale(1.8);
    font-size: 1.3vh;
}


.theme .label .ball{
    background-color: var(--cor1);
    border-radius: 50%;
    position: absolute;

    top: 0.35vh;
    left: 0.3vh;

    height: 1.7vh;
    width: 1.7vh;

    transform: translateX(0vh);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(1.7vh);
}

/* Menu hamburger */ 
.hamburguer{
    position: relative;
    

    width: 5vh;
    height: 4.3vh;

    cursor: pointer;
    display: none;
}

.hamburguer .bar{
    width: 3.5vh;
    height: 0.4vh;
    background-color: var(--cor7);
    margin: 0.8vh;
}

/* Sidebar */
.active .sidebar{
    transform: translateX(0px);
}
.active .background{
    transform: translateX(0px);
}

.background{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30vw;
    height: 100vh;
    background-color: var(--cor1);
    backdrop-filter: blur(1em);
    z-index: 999;
    transition: all 0.8s ease;
    transform: translateX(-10000px);
    border-bottom-right-radius: 50px;
}

.sidebar{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30vw;
    height: 100vh;
    border-bottom-right-radius: 50px;
 
    background-image: linear-gradient(45deg, #3226362c, #5050505e);
    z-index: 999;
    transition: all 0.8s ease;
    transform: translateX(-10000px);
}


.sidebar .fechar{    /* botão de fechar */
    padding: 25px;
    border-bottom: 3px solid var(--cor7);
}


.sidebar .exit{  /* X fechar  */
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.sidebar .exit:hover ~ .text{ 
    color: var(--cor8   );
 }

 .sidebar .exit .bar{ 
    width: 40px;
    height: 4px;
    margin: 8px;
 }
.sidebar .exit .bar1{
    background-image: linear-gradient(to right, #8c59fa, #e741e5 );
    transform: rotate(-45deg) translate(-12px, -1px);
}
.sidebar .exit .bar2{
    background-image: linear-gradient(to left, #8c59fa, #e741e5 );
    transform: rotate(45deg) translate(-10px, 4px);
}


.sidebar .fechar .text{  /* texto fechar */
    display: block;
    font-size: 2em;
    color: white;
    cursor: pointer;
}
.sidebar .fechar .text:hover{
    color: var(--cor8);
 }


/* icones lateral*/

.side-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 50px;
    font-size: 2em;
    border-bottom: 1px solid #00000025;;
}

.side-icons a:hover{
    color: var(--cor7); 
    padding: 0px 15px;
    background-color: #181a21a6;
    border-radius: 50%;
    border-bottom: 2px solid var(--cor8);
    border-right: 1px solid var(--cor7);
    box-shadow: 3px 3px 10px black;
}

/* lista lateal */ 


.lista_lateral a{
    display: block;
    padding: 15px;
    border-bottom: 1px solid #00000025;;
    
    font-size: 2em;
    font-family: var(--font-normal);
}

.lista_lateral a:hover{
    background-color: #181a21a6;
    box-shadow: 3px 3px 10px black;
    color: var(--cor8);
    border-left: 5px solid var(--cor7);
}

/* Banner */ 
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.banner .container{
    display: flex;
    gap: 100px;
    margin: 50px 0px;
}
.banner .text {  /* Área dos textos */
    width: 1000px;
}

.banner .text h1{
    margin: 50px 0px 0px 50px;
    font-size: 5em;  
    color: var(--inverted-color);
}
.banner .text p{
    margin: 0px 50px;
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 2.5em;
    color: var(--inverted-color);
}

/*botões */
.banner .button {
    margin: 50px;
    
  }

.banner .button1{
    padding: 20px;
    margin-right: 50px;
    text-decoration: none;
    font-size: 2em;
    color: var(--cor6);
    font-weight: var(--button-weight);
    background-image: linear-gradient(to left, #8c59fa, #e741e5 );
    border-radius: 5px;
    position: relative;
  }
  
.banner .button2{
    padding: 20px;
    text-decoration: none;
    font-size: 2em;
    color: var(--inverted-color);
    font-weight: var(--button-weight);
    background-color: var(--inverted-color);
    border-radius: 5px;
    position: relative;
  }

  /* pers. dos botões */

.banner .button1:hover{
    letter-spacing: 0.10em;
    box-shadow: 0 0 25px var(--cor6);
   }

.banner .button2:hover{
    letter-spacing: 0.10em;
    box-shadow: 0 0 15px var(--inverted-color);
}

   
.banner  .button1:before{
    content: '';
    position: absolute;
    inset: 4px;
    background-color: var(--normal-color);
    border-radius: 5px;
}

.banner .button2:before{
    content: '';
    position: absolute;
    inset: 4px;
    background-color: var(--normal-color);
    border-radius: 5px;
}

.banner .button1 span, .banner .button2 span{
    position: relative;
    z-index: 1;
}

/* Imagem */
.banner img{
 width: 800px;
 height: 800px;
}

.mobile{
    display: none;
}


/* Carrosel */
.carousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    position: relative;
   
    background-color: var(--inverted-color);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.575);
}

.carousel h1{         /* Titulo */
    padding-bottom: 40px;
    font-size: 3em;
    color: var(--normal-color);
}

.carousel .container{    /* Box contendo o carrosel */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 1300px;
    height: 500px;
    transition: all 0.4s;

    border-radius: 50px;
    background-color: var(--normal-color);
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.575);
  }

.carousel .container .btn{   /* Botões de mudar a foto */
    position: absolute;
    color: var(--normal-color);
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 1.7em;
    margin-top: -5px;
}

.carousel .container .btn:hover{
   transform: scale(1.5);
}

.carousel .container #voltar {    /* Botão de voltar */
    top: 50%;
    left: -50px;
}

.carousel .container #proximo { /* Botão de avançar */
    top: 50%;
    right: -50px;
}


/*     */
.carousel .container .wraper{   /* Box envolvendo o content */
    position: relative;
    transition: all 0.4s;
    width: 1300px;
    height: 500px;
    overflow: hidden;
    border-radius: 50px;
}

.carousel .container .content{   /* Box contendo todas imagens e os botões de mudar a foto */
    display: flex;
    width: 3900px;
    border-radius: 50px;
}

.carousel .container .balls {      /* Box das bolinhas indicando qual imagem está */
    position: absolute;
    display: flex;
    margin-bottom: 1%;
}

.carousel .container .balls div{  /* Bolinhas */
    transition: all 0.5s;
    border: 3px solid var(--cor7);
    padding: 6px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.carousel .container .imgAtual{
    transform: all 0.5s;
    background-color: var(--cor7);
}

.carousel .container .balls div:hover{
    background-color: var(--cor7);
}


.carousel .container .imagens{    /* Box envolvendo as imagens e o conteudo delas */
    position: relative;
    transition: all 2s;
  }

.carousel .container .imagens:hover img{  
    transform: scale(1.1) ;
}
.carousel .container .imagens img{  
    transition: transform 2s ease-in-out;
}

.carousel .container img{   /*imagens */
    width: 1300px;
    height: 500px;
}


.carousel .container .textos{      /* Textos*/
    position: absolute;
    top: 110px;
    right: 140px;

    width: 530px;
    height: 210px ;
}

.carousel .container .textos p{
    color: var(--inverted-color);
    font-size: 1.7em;
}

.carousel .container .botão{  /* Botões de ver detalhes*/
    position: absolute;
    bottom: 50px;
    right: 150px;
}

.carousel .container .textos-two{      /* Imagens do carrosel invertidas*/
    position: absolute;
    top: 110px;
    left: 140px;

    width: 530px;
    height: 210px ;
}

.carousel .container .textos-two p{
    color: var(--inverted-color);
    font-size: 1.7em;
}

.carousel .container .botão-two{  /* Botões de ver detalhes*/

    position: absolute;
    bottom: 50px;
    left: 150px;
}

.carousel .container .button{
    position: relative;
    padding: 15px 30px;

    text-align: center;
    text-decoration: none;
    font-size: 2em;
    font-weight: var(--button-weight);

    color: var(--inverted-color);
    background:linear-gradient(to right, #946CE9, #CB6EC9);
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

.carousel .container .button::before{
    content: '';
    position: absolute;
    inset: 2px;
    background-color: var(--normal-color);
    border-radius:10px;
    margin:1px;
}

.carousel .container .button span{
    position: relative;
    z-index: 1;
    color: var(--inverted-color);
}

.carousel .container .button:hover{
    box-shadow: 0 0 20px var(--cor6);
   }

.carousel .container .wraper-mobile{       /* Container para celular */
    position: relative;
    transition: all 0.4s;
    width: 600px;
    height: 730px;
    overflow: hidden;
    border-radius: 50px;
}


.carousel .container .content-mobile{
    display: flex;
    width: 1800px;
    border-radius: 50px;

}

.carousel .container .content-mobile .mobImagens{
    position: relative;
    transition: all 2s;

    display: flex;
    flex-direction: column;
    align-items: center;

    
    width: 600px;
    height: 730px;
    clear: both;

    background-color: var(--normal-color);
}


.carousel .container .content-mobile img{
    position: absolute;
    top: 40px;  
    width: 400px;
    height: 400px;
}


.carousel .container .content-mobile .texto {
    position: absolute;
    top: 450px;  
    text-align: center;
    color: var(--inverted-color);
}

.carousel .container .content-mobile .texto p {
    max-width: 500px;
    margin:auto auto 40px auto ;
    font-size: 1.6em;
  }

  .carousel .container .content-mobile .button{
    font-size: 1.7em;
  }

/* Como funciona */ 

#Como_funciona{ 
    width: 100%;
    padding: 30px;
    position: relative;
   
    background-color: var(--normal-color); 
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.575);
}

#Como_funciona h1{         /* Titulo */
    text-align: center;
    padding: 20px 0px;
    font-size: 3em;
    color: var(--inverted-color);
}

#Como_funciona .fotos_pc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Como_funciona .fotos_pc svg{   /* Estilização do Sgv para pc*/
    width: 100%;
    max-width: 1500px;
}

#Como_funciona .fotos_pc svg .cls-1{
    fill: var(--inverted-color);
}

#Como_funciona .fotos_pc svg .Pc .cls-1{
    fill: var(--inverted-color);
}

#Como_funciona .fotos_pc svg .Pc .cls-2{
    fill: var(--normal-color);
}

#Como_funciona .fotos_pc svg .Pc .cls-3{
    fill: var(--normal-color);
    font-weight: 600;
}

#Como_funciona .fotos_pc svg .Pc .cls-4{
    fill: var(--normal-color);
}

#Como_funciona .fotos_pc svg .Pc .cls-5{
    stroke: var(--normal-color);
}

#Como_funciona .fotos_pc svg circle{
    fill: var(--inverted-color);
}

#Como_funciona .fotos_pc svg .texto{
    font-weight: 600;
}

#Como_funciona .fotos_pc svg text{
    fill: var(--normal-color);
    font-weight: 400;
}

#Como_funciona .fotos_mobile{
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 50px;
}

#Como_funciona .fotos_mobile svg{        /* Estilização do Sgv para Mobile*/
    width: 100%;
    max-width: 700px;
    padding-right: 20px;
}

#Como_funciona svg .Inverted{     
    fill: var(--inverted-color);
}

#Como_funciona svg .Normal{    
    fill: var(--normal-color);
}

#Como_funciona svg .Base{   
    stroke: var(--normal-color);
}






 /* footer*/

footer{
    background-color: var(--inverted-color);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.575);
    position: relative;
}

footer h1{                     /*Titulo */
    text-align: center;
    margin-bottom: 20px;
    color: var(--normal-color);
    font-size: 3em;
    padding: 30px;
}

footer .content h2{           /*Sub-titulos*/
    margin-bottom: 10px;
    border-bottom: 3px solid var(--cor6);
    color: var(--normal-color);
    font-size: 2em;

}

footer .content{       /* Box envolvendo tudo */
    display: flex;
    justify-content: center;
}

footer .boxes{                       /*div envolvendo as boxes da esquerda e da direita */
    display: flex;
    justify-content: space-between;
    gap: 40px;
    
}

/*          */

footer .content .left-box{     /*Box da esquerda*/
    display: flex;
    flex-direction: column;
    width: 480px;;
    padding: 20px;
}


footer .content .left-box span{      /*informações de contatos */
    margin-top: 15px;
    font-size: 1.3em;
    color: var(--normal-color);
    
}

footer .content .left-box .social{    /*icones de redes sociais */
   display: flex;
   align-items: center;
   gap: 20px;
   margin-top: 90px;
  
}
 
footer .content .left-box .social a{    /* textos dos icones */
    text-decoration: none;
    color: var(--normal-color);
   
 }

/*        */


footer .content .right-box{   /*Box da direita */
    padding: 20px;
    width: 480px;

}

footer .content .right-box span{      /*Box da direita */
    margin-bottom: 5px;
    color: var(--normal-color);
    width: 200px;
    
    
}

footer .content .right-box form{    /* Formulario*/   
    display: flex;
    flex-direction: column;
}

footer .content .right-box input{  /* Estilização dos inputs*/
    padding: 8px;
    border: none;
    border-radius: 5px; 
    font-size: 1em;
    width: 215px;

}

footer .content .right-box .container{   /*Box envolvendo o nome e o email do formulário*/ 
    display: flex;
    margin-bottom: 5px;
    gap: 10px;
 
 }
 
 footer .content .right-box .container .name{        /*Input do nome*/
     display: flex;
     flex-direction: column;
  
  }
 
 footer .content .right-box .container .email{  /*Input do email*/
     display: flex;
     flex-direction: column;
  }



footer .content .right-box textarea{   /*Text area da mensagem*/
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1.08em;
}

footer .content .right-box form button{                                 /* Botões */
    background-image: linear-gradient(to right, #946CE9, #CB6EC9);
    color: var(--cor5);
    font-size: 1.5em;
    padding: 8px;
    border: none;
    border-radius: 10px;
    position:relative;
    cursor: pointer;
}


footer .content .right-box form button:before{
    content: '';
    position: absolute;
    inset: 4px;
    background-color: var(--inverted-color);
    border-radius: 5px;
}

footer .content .right-box form button span{
    position: relative;
    z-index: 1;
}

footer .content .right-box form button:hover{
    box-shadow: 0 0 15px var(--cor6);
   }

/* */

 
footer .copy{            /*Área do copyright*/
    width: 100%;
    text-align: center;
    padding: 15px;
    margin: 30px auto auto auto;
    color: var(--normal-color);
    background-color: rgba(0, 0, 0, 0.288);
  

}

footer .copy span{
    opacity: 40%;
}



  /* Responsividade do Site*/



  @media (max-width: 2000px) {

    .banner .text {  /*  Responsividade do banner */
        width: 700px;
    }
    
    .banner img{
        width: 700px;
        height: 700px;
       }


    .banner .button1{
    font-size: 1.7em;
    }
    
    .banner .button2{
    font-size: 1.7em;
    }
  }

  @media (max-width: 1700px) {

    html{                                                             /*  Responsividade do header */
        --background-image-black: url(../img/logo/Logo-Black.png); 
    }
    
    /* Tema Noturno*/
    html[data-theme="dark"] {
        --background-image-black: url(../img/logo/Logo-White.png); 
    }
    
    header .img{
        width: 10vh;
        height: 10vh;
        max-width: 100vh;
        background-image: var(--background-image-black);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
  }

  @media (max-width: 1500px) {

    header .menu{   /*  Responsividade do header */
        display: none;

    }

    header .hamburguer{
        display: block;
    }

    header .icons{
        display: none;
    }
    
    .banner .container{    /*  Responsividade do banner */
        gap: 5px;
    }

    .banner .text {  
        width: 500px;
    }

    .banner .text h1{
        font-size: 3em;  
    }
    .banner .text p{
        font-size: 1.6em;
    }
    
    .banner img{
        width: 500px;
        height: 500px;
       }


    .banner .button1{
        margin-right: 15px;
        padding: 15px; 
        font-size: 1.2em;
        font-weight: var(--button-weight);
    }
    
    .banner .button2{
        padding: 15px;
        font-size: 1.2em;
        font-weight: var(--button-weight);
    }


    .carousel{     /* Responsividade do carrosel */
        height: 600px;
       
    }
    .carousel .container{     
        width: 1000px;
        height: 385px;
       
    }

    .carousel .container .wraper{  
        width: 1000px;
        height: 385px;
    }
    
    .carousel .container .content{ 
        width: 3000px;
    }

    .carousel .container img{ 
        width: 1000px;
        height: 385px;
    }

    .carousel .container .textos{      /* Textos*/
        top: 70px;
        right: 40px;
        transform: scale(0.8);
    }

    .carousel .container .botão{  /* Botões de ver detalhes*/
        bottom: 50px;
        right: 80px;
        transform: scale(0.8);
    }

    .carousel .container .textos-two{      /* Textos*/
        top: 70px;
        left: 60px;
        transform: scale(0.8);
    }

    .carousel .container .botão-two{  /* Botões de ver detalhes*/
        bottom: 50px;
        left: 80px;
        transform: scale(0.8);
    }
}

@media (max-width: 1170px) {

    .carousel{     /* Responsividade do carrosel */
        height: 500px;
       
    }
    .carousel .container{   
        width: 850px;
        height: 327px;
       
    }

    .carousel .container .wraper{  
        width: 850px;
        height: 327px;
    }

    .carousel .container .content{ 
        width: 2.550px;
    }

    .carousel .container img{ 
        width: 850px;
        height: 327px;
    }
    

    .carousel .container .textos{      /* Textos*/
        top: 50px;
        right: 0px;
        transform: scale(0.7);
    }

    .carousel .container .botão{  /* Botões de ver detalhes*/
        bottom: 40px;
        right: 55px;
        transform: scale(0.75);
    }

    .carousel .container .textos-two{      /* Textos*/
        top: 50px;
        left: 15px;
        transform: scale(0.7);
    }

    .carousel .container .botão-two{  /* Botões de ver detalhes*/
        bottom: 40px;
        left: 55px;
        transform: scale(0.75);
    }
}



@media (max-width: 1024px) {

    .background{
        width: 50vw;
    }
    
    .sidebar{
        width: 50vw;
    }
}

@media (max-width: 1010px) {

    /* Reesponsividade do banner */
    .banner .container{
        display: block;
        margin: 0px;
    }

    .banner .text {  /* Área dos textos */
        width: 500px;
    }

    .banner .text h1{
        margin-left: 5px;
        font-size: 3em;  
    }
    .banner .text p{
        margin: 8px;
        font-size: 1.6em;
    }
    
    .banner img{
        width: 500px;
        height: 500px;
       }

    .pc{
    display: none;
    }

    .mobile{
    display: block;
    }

    .banner .button{
        margin: 50px 30px;
    }
    .banner .button1{
        margin-right: 20px;
        padding: 15px; 
        font-size: 1.4em;
    }
    
    .banner .button2{
        padding: 15px;
        font-size: 1.4em;
        }
    .banner .button1:hover{
        letter-spacing: 0.05em;
        }
    
    .banner .button2:hover{
        letter-spacing: 0.05em;
    }


    .carousel{     /* Responsividade do carrosel para mobile */
        height: 950px;
       
    }

    .carousel h1{         /* Titulo */
        padding-bottom: 40px;
        font-size: 2.4em;
    }

    .carousel .texto .prod{
        display:none;
    }

    .carousel .container{   
        width: 600px;
        height: 730px;
       
    }

    .carousel .container .balls {      /* Box das bolinhas indicando qual imagem está */
        margin-bottom: -6%;
    }

    /* Responsividade do Como Funciona*/
    #Como_funciona .fotos_pc{
        display:none;
    }

    #Como_funciona .fotos_mobile{
        display:flex;
    }



     /* Responsividade do footer*/
    footer .boxes{                       /*div envolvendo as boxes da esquerda e da direita */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
    }

    footer .content .left-box .social{    /*icones de redes sociais */
        gap: 30px;
        margin-top: 50px;
    
    }
    
    footer .content .left-box .social a{    /* textos dos icones */
        font-size: 1.5em;
    
    }
}

@media (max-width: 900px) {
    .carousel{     /* Responsividade do carrosel para mobile */
        height: 750px;
       
    }

    .carousel h1{         /* Titulo */
        padding-bottom: 40px;
        font-size: 2em;
    }

    .carousel .container{   
        width: 400px;
        height: 487px;
       
    }

    .carousel .container .balls {      /* Box das bolinhas indicando qual imagem está */
        margin-bottom: -8%;
    }


    .carousel .container .wraper-mobile{       /* Container para celular */
        width: 400px;
        height: 487px;
    }
    
    
    .carousel .container .content-mobile{
        width: 1350px;
    }
    
    .carousel .container .content-mobile .mobImagens{
        width: 400px;
        height: 487px;
    }
    
    
    .carousel .container .content-mobile img{
        position: absolute;
        top: 20px;  
        width: 200px;
        height: 200px;
    }
    
    
    .carousel .container .content-mobile .texto {
        top: 200px;  
        transform: scale(0.7);
    }
    
    .carousel .container .content-mobile .texto p {
        max-width: 500px;
        margin:auto auto 60px auto ;
      }
    
      .carousel .container .content-mobile .button{
        font-size: 1.7em;
      }


}

@media (max-width: 590px) {

    .background{
        width: 100vw;
    }
    
    .sidebar{
        width: 100vw;
    }
}

@media (max-width: 500px) {

     /* Responsividade do banner */

    .banner .text {  /* Área dos textos */
        width: 400px;
    }

    .banner .text h1{
        font-size: 3em;  
        padding-left: 10px;
    }
    .banner .text p{
        font-size: 1.6em;
        padding-left: 10px;
    }
    
    .banner img{
        padding: 10px;
        width: 400px;
        height: 400px;
       }

    .banner .button {
        margin: 50px 20px;
    }
    .banner .button1{
        margin-right: 30px;
        padding: 15px; 
        font-size: 1em;
    }
    
    .banner .button2{
        padding: 15px;
        font-size: 1em;
        }

    .banner .button1:hover{
        letter-spacing: 0em;
        box-shadow: 0 0 25px var(--cor6);
        }
    
    .banner .button2:hover{
        letter-spacing: 0em;
        box-shadow: 0 0 15px var(--inverted-color);
    }


    .carousel{     /* Responsividade do carrosel para mobile */
        height: 550px;
       
    }

    .carousel h1{         /* Titulo */
        padding-bottom: 40px;
        font-size: 1.6em;
    }

    .carousel .container{   
        width: 300px;
        height: 365px;
       
    }

    .carousel .container .balls {      /* Box das bolinhas indicando qual imagem está */
        margin-bottom: -8%;
    }


    .carousel .container .wraper-mobile{       /* Container para celular */
        width: 300px;
        height: 365px;
    }
    
    
    .carousel .container .content-mobile{
        width: 900px;
    }
    
    .carousel .container .content-mobile .mobImagens{
        width: 300px;
        height: 365px;
    }
    
    
    .carousel .container .content-mobile img{
        position: absolute;
        top: 20px;  
        width: 200px;
        height: 200px;
    }
    
    
    .carousel .container .content-mobile .texto {
        top: 300px;  
        transform: scale(0.8);
    }
    
    .carousel .container .content-mobile .texto p {
        display: none;
    }

    .carousel .texto .prod{
        position: absolute;
        display:inline;
        bottom: 65px;
        right: 50%;
        transform: translate(50%);

        text-align: center;
        font-size: 1.5em;
        font-weight: 500;
    }
    
      .carousel .container .content-mobile .button{

        font-size: 1.7em;
    }

    /* Responsividade do footer*/
    footer{
        height: 680px;
    }
    
    footer .content{       /* Box envolvendo tudo */
        display: flex;
        justify-content: center;
        transform: scale(0.8) translateY(-100px);
    }
    
    footer .copy{            /*Área do copyright*/
        position: absolute;
        bottom: 0;
    }

    footer .copy p{
        font-size: 0.7em;
    }
}

@media (max-width: 400px) {

    /* Responsividade do banner */
    .banner .text {  /* Área dos textos */
        width: 300px;
    }

    .banner .text h1{
        padding-left: 0;
        font-size: 2.3em;  
    }
    .banner .text p{
        padding-left: 0;
        font-size: 1.3em;
    }
    
    .banner img{
        padding: 0;
        width: 300px;
        height: 300px;
       }
       

    .banner .button {
        margin: 50px 12px;
    }
    .banner .button1{
        margin-right: 15px;
        padding: 10px; 
        font-size: 0.9em;
    }
    
    .banner .button2{
        padding: 10px;
        font-size: 0.9em;
    }

    .banner  .button1:before{
        inset: 2.5px;
    }
    
    .banner .button2:before{
        inset: 2.5px;
    }

    .carousel{     /* Responsividade do carrosel para mobile */
        height: 450px;
       
    }

    .carousel h1{         /* Titulo */
        padding-bottom: 40px;
        font-size: 1.3em;
    }

    .carousel .container{   
        width: 250px;
        height: 304px;
       
    }

    .carousel .container .balls {      /* Box das bolinhas indicando qual imagem está */
        transform: scale(0.7);
        margin-bottom: -10%;
    }

    .carousel .btn{
        transform: scale(0.7);
    }

    .carousel .container .btn:hover{
        transform: scale(0.8);
    }

    .carousel .container #voltar {    /* Botão de voltar */
        left: -40px;
    }
    
    .carousel .container #proximo { /* Botão de avançar */
        right: -40px;
    }


    .carousel .container .wraper-mobile{       /* Container para celular */
        width: 250px;
        height: 304px;
    }
    
    
    .carousel .container .content-mobile{
        width: 750px;
    }
    
    .carousel .container .content-mobile .mobImagens{
        width: 250px;
        height: 304px;
    }
    
    
    .carousel .container .content-mobile img{
        position: absolute;
        top: 20px;  
        width: 150px;
        height: 150px;
    }
    
    
    .carousel .container .content-mobile .texto {
        top: 240px;  
        transform: scale(0.7);
    }
    
    
    .carousel .container .content-mobile .button{
        font-size: 1.7em;
    }

    /* Responsividade do como funciona*/
    #Como_funciona h1{
        padding: 20px 0px;
        font-size: 2em;
    }

    /* Responsividade do footer*/
    footer{
        height: 560px;
    }
    
    footer .content{       /* Box envolvendo tudo */
        display: flex;
        justify-content: center;
        transform: scale(0.6) translateY(-230px);
    }
    
    footer .copy p{
        font-size: 0.7em;
    }
}
@media (max-width: 320px) {

    .theme{
        display: none;
    }

    /* Responsividade	 do banner */
    .banner .text {  /* Área dos textos */
        width: 200px;
    }

    .banner .text h1{
        font-size: 1.8em;  
    }
    
    .banner .text p{
        font-size: 1em;
        
    }
    
    .banner img{
        width: 200px;
        height: 200px;
       }

    .banner .button {
        margin: 30px 0px;
    }
    .banner .button1{
        margin-right: 5px;
        padding: 8px; 
        font-size: 0.66em;
    }
    
    .banner .button2{
        padding: 8px;
        font-size: 0.66em;
    }

    .carousel{     /* Responsividade do carrosel para mobile */
        height: 400px;
       
    }

    .carousel h1{         /* Titulo */
        padding-bottom: 40px;
        font-size: 1em;
    }

    .carousel .container{   
        width: 200px;
        height: 243px;
       
    }

    .carousel .container .balls {      /* Box das bolinhas indicando qual imagem está */
        transform: scale(0.7);
        margin-bottom: -10%;
    }

    .carousel .container .wraper-mobile{       /* Container para celular */
        width: 200px;
        height: 243px;
    }
    
    
    .carousel .container .content-mobile{
        width: 600px;
    }
    
    .carousel .container .content-mobile .mobImagens{
        width: 200px;
        height: 243px;
    }
    
    
    .carousel .container .content-mobile img{
        position: absolute;
        top: 20px;  
        width: 140px;
        height: 140px;
    }
    
    
    .carousel .container .content-mobile .texto {
        top: 200px;  
        transform: scale(0.7);
    }

    .carousel .texto .prod span{
       display: none;
    }

    .carousel .texto .prod{
        bottom: 50px;
        font-size: 1.3em;
        font-weight: 500;
    }
    
    .carousel .container .content-mobile .button{
        font-size: 1.1em;
    }

    /* Responsividade do footer*/
    footer{
        height: 480px;
    }

    footer h1{
        font-size: 2em;
    }
    
    footer .content{       /* Box envolvendo tudo */
        display: flex;
        justify-content: center;
        transform: scale(0.5) translateY(-350px);
    }
    
    footer .copy p{
        font-size: 0.7em;
    }
}